<div class="container">
    <div class="row center-content" style="height: 100px; margin-top: 50px;">
        <div class="col-md-4"></div>
        <div class="col-md-4 room-selector text-center">
            <a class="prevButton" href="/prev?current_prostorija_id={{ current_prostorija_id }}&date={{ selected_date }}&time={{ selected_time }}">
                <img src="{{ url_for('static', filename = 'images/leftArrow.svg') }}" alt="left arrow">
            </a>
            <span>{{ prev_prostorija }}</span>
            <a class="nextButton" href="/next?current_prostorija_id={{ current_prostorija_id }}&date={{ selected_date }}&time={{ selected_time }}">
                <img src="{{ url_for('static', filename = 'images/rightArrow.svg') }}" alt="left arrow">
            </a>
        </div>
        <div class="col-md-4 datetime-picker text-right">
            <form id="datetime-form" method="get" action="/">
                <input type="hidden" name="current_prostorija_id" value="{{ current_prostorija_id }}">
                <div>
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" value="{{ selected_date }}" hx-get="/get-time-options" hx-target="#time" hx-trigger="change">
                </div>
                <div>
                    <label for="time">Time:</label>
                    <select id="time" name="time">
                        {% if selected_time %}
                            <option selected>{{ selected_time }}</option>
                        {% endif %}
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="guest-layout" hx-get="{{ url_for('guest_layout', room_id=current_prostorija_id) }}" hx-trigger="load" hx-target="this">
</div>

<script>
    document.getElementById('date').addEventListener('change', function() {
        document.getElementById('datetime-form').dispatchEvent(new Event('input'));
    });

    document.getElementById('time').addEventListener('change', function() {
        document.getElementById('datetime-form').dispatchEvent(new Event('input'));
    });

    document.addEventListener("htmx:afterSwap", (event) => {
        if (event.target.id === "time") {
            const timeSelect = document.getElementById("time");
            timeSelect.innerHTML = "";  // Clear existing options

            const timeOptions = event.detail.xhr.responseText;
            const times = JSON.parse(timeOptions);
            console.log(times);

            times.forEach(time => {
                const option = document.createElement("option");
                option.value = time;
                option.textContent = time;
                timeSelect.appendChild(option);
            });
        }
    });

    document.getElementById('datetime-form').addEventListener('input', function() {
        const form = document.getElementById('datetime-form');
        const date = form.querySelector('input[name="date"]').value;
        const time = form.querySelector('select[name="time"]').value;
        const url = `/room/{{current_prostorija_id}}/guest_layout?date=${date}&time=${time}`;
        htmx.ajax('GET', url, { target: '#guest-layout' });
    });
    // Set minimum date for the date input to today
    document.getElementById('date').setAttribute('min', new Date().toISOString().split('T')[0]);
</script>