
{% for reservation in reservations %}
    <tr>
        <td>{{ reservation.stol.prostorija.restoran.naziv_restorana }}</td>
        <td>{{ reservation.stol.prostorija.naziv_prostorije }}</td>
        <td>{{ reservation.stol.broj_stola }}</td>
        <td>{{ reservation.datum.strftime('%Y-%m-%d') }}</td>
        <td>{{ reservation.vrijeme_rezervacije.strftime('%H:%M') }}</td>
        <td>{{ reservation.trajanje_rezervacije }}</td>
        <td>
            <a href="{{ url_for('edit_reservation', reservation_id=reservation.id) }}" class="btn btn-primary btn-sm">Edit</a>
            <a hx-delete="{{ url_for('delete_reservation', reservation_id=reservation.id) }}" hx-target = "#reservations_id" class="btn btn-secondary btn-sm">Delete</a>
        </td>
    </tr>
{% endfor %}
