<div class="container">
    <div class="row center-content">
        <div class="col-md-12">
            <div class="table-selector">
                <div class="table-container">
                    <div class="table">4 person</div>
                </div>
                <div class="table-container">
                    <div class="table">2 person</div>
                </div>
                <div class="table-container">
                    <div class="table reserved">Reserved</div>
                    <div class="popup">
                        <p>Name: Person #1</p>
                        <p>E-mail: person.mail.com</p>
                        <p>Reservation set: Sep. 24. 2023.</p>
                        <p>Reservation duration: 2h</p>
                        <p>Reservation till: 19:30</p>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table">4 person</div>
                </div>
                <div class="table-container">
                    <div class="table">2 person</div>
                </div>
                <div class="table-container">
                    <div class="table">2 person</div>
                </div>
                <div class="table-container">
                    <div class="table reserved">Reserved</div>
                    <div class="popup">
                        <p>Name: Person #2</p>
                        <p>E-mail: person2.mail.com</p>
                        <p>Reservation set: Sep. 25. 2023.</p>
                        <p>Reservation duration: 3h</p>
                        <p>Reservation till: 20:00</p>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table">4 person</div>
                </div>
                <div class="table-container">
                    <div class="table">2 person</div>
                </div>
                <div class="table-container">
                    <div class="table">4 person</div>
                </div>
                <div class="table-container">
                    <div class="table">2 person</div>
                </div>
                <div class="table-container">
                    <div class="table">4 person</div>
                </div>
                <div class="table-container">
                    <div class="table">14 person</div>
                </div>
            </div>
        </div>
    </div>
</div>
