
            <div class="table-selector">
                {% for table in room.stolovi %}
                <div class="table-container">
                    <div class="table" style="left: {{ table.x }}px; top: {{ table.y }}px;">{{table.broj_mjesta}} person</div>
                    <div class="popup"  style="left: {{ table.x }}px; top: {{ table.y }}px;">
                        <p>Reserve this table?</p>
                        <button class="btn btn-primary">Reserve</button>
                    </div>
                </div>
                {% endfor %}
            </div>
