<div class="container">
    <div class="row center-content">
        <div class="col-md-12">
            <div class="table-selector">
                <div class="table-container">
                    <div class="table">4 person</div>
                    <div class="popup">
                        <p>Reserve this table?</p>
                        <button class="btn btn-primary">Reserve</button>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table">2 person</div>
                    <div class="popup">
                        <p>Reserve this table?</p>
                        <button class="btn btn-primary">Reserve</button>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table reserved">Reserved</div>
                </div>
                <div class="table-container">
                    <div class="table">4 person</div>
                    <div class="popup">
                        <p>Reserve this table?</p>
                        <button class="btn btn-primary">Reserve</button>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table">2 person</div>
                    <div class="popup">
                        <p>Reserve this table?</p>
                        <button class="btn btn-primary">Reserve</button>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table">2 person</div>
                    <div class="popup">
                        <p>Reserve this table?</p>
                        <button class="btn btn-primary">Reserve</button>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table reserved">Reserved</div>
                </div>
                <div class="table-container">
                    <div class="table">4 person</div>
                    <div class="popup">
                        <p>Reserve this table?</p>
                        <button class="btn btn-primary">Reserve</button>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table">2 person</div>
                    <div class="popup">
                        <p>Reserve this table?</p>
                        <button class="btn btn-primary">Reserve</button>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table">4 person</div>
                    <div class="popup">
                        <p>Reserve this table?</p>
                        <button class="btn btn-primary">Reserve</button>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table">2 person</div>
                    <div class="popup">
                        <p>Reserve this table?</p>
                        <button class="btn btn-primary">Reserve</button>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table">4 person</div>
                    <div class="popup">
                        <p>Reserve this table?</p>
                        <button class="btn btn-primary">Reserve</button>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table">14 person</div>
                    <div class="popup">
                        <p>Reserve this table?</p>
                        <button class="btn btn-primary">Reserve</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
